:root {
  --secondary-color: #f8eded;
}
body {
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-weight: bold;
  margin: 0;
}
h1,
p {
  font-family: "Roboto Serif", serif;
  line-height: 2;
  font-size: 16px;
}

h1 {
  font-size: 85px;
  font-weight: 600;
}
h2 {
  font-size: 60px;
  color: #272142;
  font-family: "Roboto Serif", serif;
}
.hero {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 160px 20px;
}
.hero h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  font-size: 30px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  line-height: 2;
  color: #272142;
}
.about-section {
  padding: 160px 20px;
}
.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-section h2 {
  font-size: 25px;
  font-family: "Roboto Serif", serif;
}
.about-section-content {
  margin: 30px;
}
.btn-branding {
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
  padding: 15px 30px;
  margin: 40px;
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
}
.btn-branding-outline {
  padding: 15px 30px;
  margin: 40px;
  border-radius: 3px;
  font-size: 18px;
  line-height: 27px;
  background-color: var(--secondary-color);
  border: 1px solid rgb(173, 83, 137);
  color: rgb(60, 16, 83);
  font-family: "Roboto Serif", serif;
}
.top-description {
  font-weight: bold;
  font-size: 63px;
  margin: 48px;
  opacity: 0.8;
  font-family: "Roboto Serif", serif;
}
.project-description {
  padding: 30px 90px;
}
@media (max-width: 960px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }
  .top-description {
    font-size: 36px;
  }
  .hero {
    padding: 80px 20px;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
}
